.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 7px;
}

.button_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
}

.button {
  display: block;
  min-height: 50px;
  min-width: 195px;
  border: 1px solid #D7D9DF;
  background-color: #ffffff;
  font-size: 20px;
  font-family: 'Open-Sans', Arial, sans-serif;
  color: #48494d;
  transition: opacity 0.3s ease-out;

  &_active {
    background-color: #d12136;
    color: #ffffff;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
