.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 90px 0 132px;
}

.inner_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-width: 768px;
  max-width: 1215px;
  padding: 0 15px;
}

.info {
  width: 100%;
  display: grid;
  grid-column-gap: 51px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}
