@import-normalize;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Open-Sans';
  font-display: swap;
  src: url('../../assets/fonts/opensans-normal.woff2') format('woff2'),
  url('../../assets/fonts/opensans-normal.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Open-Sans';
  font-display: swap;
  src: url('../../assets/fonts/opensans-semibold.woff2') format('woff2'),
  url('../../assets/fonts/opensans-semibold.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Open-Sans';
  font-display: swap;
  src: url('../../assets/fonts/opensans-bold.woff2') format('woff2'),
  url('../../assets/fonts/opensans-bold.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:global(.visually-hidden) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 768px;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #48494d;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
