.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 84px;
  background-color: #f5f5f9;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  padding: 0 15px;
  font-weight: 600;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.list_item:not(:last-child) {
  margin-right: 70px;
}
